:root {

  /* Light theme colors */
  --light-background: #050406;
  --light-surface: #e2e8f0;
  --light-text-primary: #b2a7cc;
  --light-text-secondary: #4b3778;
  --light-accent: #7654c3;
  --light-border: #cbd5e1;
  --light-shadow: #0f172a1a;
  --light-hover: #f1f5f9;
 
  /* Shadows */
  --shadow-1: -4px 8px 24px #00000040;
  --shadow-2: 0 16px 30px #00000040;
  --shadow-3: 0 16px 40px #00000040;
  --shadow-4: 0 25px 50px #00000026;
  --shadow-5: 0 24px 80px #00000040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: "Poppins", sans-serif;
background: var(--light-background);
color: var(--light-text-primary);
scroll-behavior: smooth;
line-height: 1.6;

}

.container{
max-width: 1200px;
}

.header-nav{

}

.header-nav a{
text-decoration: none;
color: var(--light-accent);
}

#menu-button{

}

#mobile-menu{

}

#mobile-menu a{
text-decoration: none;
color: var(--light-accent);
}

main{

}

#about{

}

.about-container{

}

.social-links{

}

#skills{

}

.skills-cards-container{

}

.skills-cards{

}

